doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      //-meta(http-equiv="Content-Security-Policy"	content="default-src 'self' https; script-src 'self' https: https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval' ;	worker-src  blob: https: ; child-src  https: blob: ; img-src 'self' data: blob: https://www.gstatic.com https://js.stripe.com/; frame-src 'self' https: https://js.stripe.com/v3/; 	connect-src 'self' https: https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com https://cdnjs.cloudflare.com ws://127.0.0.1:* ; 	style-src   'self'  https: 'unsafe-inline' ; 	font-src https://*.googleapis.com https://fonts.gstatic.com ; script-src-elem 'self' https: https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js https://js.stripe.com/v3/"    )
      meta(http-equiv="Content-Security-Policy"	content="default-src 'self' https: ws: ; img-src 'self' data: blob:; 	worker-src  blob:  ;  style-src   'self'  https: 'unsafe-inline'  "    )
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/facicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}
      script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js')

  body
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading

    // FOOTER
    include _footer

    // Client Side Scripts
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')
